{% extends 'base.html.twig' %}

{% block body %}

<div id="white"></div>

    <div class="container">

        {% include '@FOSUser/Default/navbar_admin.html.twig' %}

        <div class="text-center  admin_home">
    <h1 class="white">Administration</h1>

        <a class="button_contact button-style button-style-dark button-style-color-2" href="{{ path('categorie_index') }}">Catégorie</a>
        <a class="button_contact button-style button-style-dark button-style-color-2" href="{{ path('modele_index') }}">Modèle</a>
        <a class="button_contact button-style button-style-dark button-style-color-2" href="{{ path('about_index') }}">A propos</a>



        </div>


    </div>


    {% include '@Elisa/Default/footer.html.twig' %}

{% endblock %}
