{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="row margin-top-bottom">

    <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8">

        <div class="row">
            <form action="{{ path("fos_user_security_check") }}" method="post" class="contact-us pattern-bg">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="text-center">
                    <h1 class="title_login">Se connecter</h1>
                    <form>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}"/>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}"/>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="checkbox">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label class="remember" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                            </div>
                        </div>
                        <div class="text-center">
                        <input type="submit" class="button_contact button-style button-style-dark button-style-color-2" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                        </div>
                    </form>

                </div>
            </form>
        </div>
    </div>
</div>
