@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
/* line 1, ../sass/_general.scss */
html {
  max-height: 100vh;
}

/* line 5, ../sass/_general.scss */
a {
  color: white;
}

/* line 9, ../sass/_general.scss */
a:hover {
  color: #D5FA80;
  text-decoration: none;
}

/* line 14, ../sass/_general.scss */
.btn_index {
  color: #D5FA80;
}

/* line 18, ../sass/_general.scss */
.btn_index:hover {
  color: #97A1AA;
}

/* line 22, ../sass/_general.scss */
body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

/* line 30, ../sass/_general.scss */
#white {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  /* L'opacite se regle ici */
}

/* line 37, ../sass/_general.scss */
.title {
  font-family: 'Arizonia', cursive;
  font-size: 150px;
  color: #FFF;
  text-align: center;
  text-shadow: 15px 15px 15px grey;
}

/* line 46, ../sass/_general.scss */
.titre {
  position: relative;
  transform: translateY(100%);
}

/* line 51, ../sass/_general.scss */
.enter {
  text-align: center;
}

/* line 55, ../sass/_general.scss */
.btn-enter {
  height: 70px !important;
  width: 70px !important;
  border-radius: 50%;
  background-color: #97A1AA;
  color: #D5FA80;
  margin-left: 51%;
}

/* line 64, ../sass/_general.scss */
.btn-enter:hover {
  background-color: #D5FA80;
}

/* line 68, ../sass/_general.scss */
.white {
  color: white;
}

/* line 1, ../sass/_navigation.scss */
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

/* line 6, ../sass/_navigation.scss */
.navbar-default .navbar-nav > li > a {
  color: white !important;
}

/* line 11, ../sass/_navigation.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #D5FA80 !important;
}

/* line 15, ../sass/_navigation.scss */
.navbar {
  margin-bottom: 20px;
}

/* line 19, ../sass/_navigation.scss */
.title_galerie {
  font-family: 'Arizonia', cursive;
  font-size: 3em;
  color: #FFF;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
}

/* line 1, ../sass/_galerie.scss */
.grid {
  margin-top: 3%;
}

/* line 4, ../sass/_galerie.scss */
.grid-item {
  width: 20%;
  padding-right: 3px;
}

/* line 9, ../sass/_galerie.scss */
.grid-item--width2 {
  width: 50%;
}

/* line 14, ../sass/_galerie.scss */
.thumbnail_galerie {
  display: block;
  padding: 4px;
  margin-bottom: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  max-width: 100%;
}

/* line 28, ../sass/_galerie.scss */
.button_galerie {
  border: none;
  border-radius: 5px;
  font-family: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 25px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 47, ../sass/_galerie.scss */
.button_galerie:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 57, ../sass/_galerie.scss */
.button_galerie:hover,
.button_galerie:active,
.button_galerie:focus {
  color: #ffffff;
  background: #D5FA80;
  border-color: #D5FA80;
}

/* line 65, ../sass/_galerie.scss */
.button-group:after {
  content: '';
  display: block;
  clear: both;
}

/* line 71, ../sass/_galerie.scss */
.button-group .button {
  border-radius: 0.5em;
  margin-left: 0;
  margin-right: 1px;
  margin-bottom: 10%;
  border-color: transparent;
}

/* line 81, ../sass/_galerie.scss */
.button:active,
.button.is-checked {
  background-color: #D5FA80;
}

/* line 86, ../sass/_galerie.scss */
.button.is-checked {
  color: #3C3F41;
}

/* line 90, ../sass/_galerie.scss */
.button:active {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.8);
}

/* line 94, ../sass/_galerie.scss */
.button:hover {
  background-color: #D5FA80;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  color: #222;
}

/*!
* bootstrap-lightbox.css v0.6.1
* Copyright 2013 Jason Butz
* http://www.apache.org/licenses/LICENSE-2.0.txt
*/
/* line 6, ../sass/_bootstrap-lightbox.scss */
.lightbox {
  position: relative;
  top: 70px;
  z-index: 1050;
  line-height: 0;
  text-align: center;
  background-color: transparent;
  outline: none;
}

/* line 16, ../sass/_bootstrap-lightbox.scss */
.lightbox .hide {
  display: none;
}

/* line 20, ../sass/_bootstrap-lightbox.scss */
.lightbox .in {
  display: block;
}

/* line 24, ../sass/_bootstrap-lightbox.scss */
.lightbox-content {
  display: inline-block;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

/* line 44, ../sass/_bootstrap-lightbox.scss */
.lightbox-content .lightbox-caption {
  position: absolute;
  right: 12px;
  bottom: 11px;
  left: 11px;
  padding: 2%;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 0 #000000;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  background: #000;
  background: rgba(0, 0, 0, 0.6);
}

/* line 60, ../sass/_bootstrap-lightbox.scss */
.lightbox-header .close {
  margin-top: -16px;
  margin-right: -16px;
  font-size: 2em;
  color: white;
  opacity: .8;
  filter: alpha(opacity=80);
}

/* line 69, ../sass/_bootstrap-lightbox.scss */
.lightbox-header .close :hover {
  opacity: .4;
  filter: alpha(opacity=40);
}

/* line 1, ../sass/_contact.scss */
.contact-us {
  padding: 50px;
  box-shadow: -2px 40px 34px -24px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 7px #D5FA80;
}

/* line 9, ../sass/_contact.scss */
.contact-us-detail {
  position: absolute;
  left: 83%;
  top: -4%;
  background-color: #518E16;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  width: 26%;
}

/* line 22, ../sass/_contact.scss */
.contact-us-detail a {
  color: #ffffff;
}

/* line 26, ../sass/_contact.scss */
.contact-us-detail a:hover {
  color: #518E16;
}

/* line 30, ../sass/_contact.scss */
.form-group {
  margin-bottom: 25px;
}

/* line 34, ../sass/_contact.scss */
.form-control {
  border: 2px solid transparent;
  height: 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 2px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition: all 150ms ease-in-out 0s;
  -moz-transition: all 150ms ease-in-out 0s;
  -ms-transition: all 150ms ease-in-out 0s;
  -o-transition: all 150ms ease-in-out 0s;
  transition: all 150ms ease-in-out 0s;
}

/* line 49, ../sass/_contact.scss */
.form-control:focus {
  border-color: #171717;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 58, ../sass/_contact.scss */
.form-control:focus {
  border-color: #D5FA80;
  border-width: 2px;
}

/* line 63, ../sass/_contact.scss */
.margin-top-bottom {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* line 68, ../sass/_contact.scss */
.custom-margin {
  margin-top: 80px;
}

/* line 72, ../sass/_contact.scss */
.button_contact {
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 17px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 20px 60px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 92, ../sass/_contact.scss */
.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 101, ../sass/_contact.scss */
.button-style {
  border: 3px solid #fff;
  color: #fff;
}

/* line 106, ../sass/_contact.scss */
.button-style:hover,
.button-style:active,
.button-style:focus {
  color: #ffffff;
  background: #D5FA80;
}

/* line 113, ../sass/_contact.scss */
.button-style-color-2:hover,
.button-style-color-2:active,
.button-style-color-2:focus {
  color: #ffffff;
  background: #D5FA80;
}

/* line 120, ../sass/_contact.scss */
.button-style-dark {
  border: 3px solid #FFF;
  color: #FFF;
}

/* line 1, ../sass/_about.scss */
.timeline {
  padding: 15px;
  background: RGBA(250, 250, 250, 0.6);
  border-radius: 15px;
}

@font-face {
  font-family: 'ecoico';
  src: url("../fonts/timelineicons/ecoico.eot");
  src: url("../fonts/timelineicons/ecoico.eot?#iefix") format("embedded-opentype"), url("../fonts/timelineicons/ecoico.woff") format("woff"), url("../fonts/timelineicons/ecoico.ttf") format("truetype"), url("../fonts/timelineicons/ecoico.svg#ecoico") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 18, ../sass/_about.scss */
.cbp_tmtimeline {
  margin: 45px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

/* The line */
/* line 26, ../sass/_about.scss */
.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8px;
  background: #8ab39b;
  left: 16%;
}

/* The date/time */
/* line 37, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 8em;
  position: absolute;
}

/* line 44, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right;
}

/* line 49, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: #FFF;
}

/* line 54, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  font-size: 1.7em;
  color: #8ab39b;
  margin-top: 20%;
}

/* line 60, ../sass/_about.scss */
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: #56906f;
}

/* Right content */
/* line 65, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 5% 15px 20%;
  background: #8ab39b;
  color: #fff;
  padding: 1em 2em;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
}

/* line 77, ../sass/_about.scss */
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  background: #56906f;
}

/* line 81, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmlabel h2 {
  margin-top: 0px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* The icons */
/* line 88, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmicon {
  width: 20px;
  height: 20px;
  font-family: 'ecoico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #8ab39b;
  background: #8ab39b;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #8ab39b;
  text-align: center;
  left: 17%;
  top: 0;
  margin: 0 0 0 -17px;
}

/* line 113, ../sass/_about.scss */
.cbp_tmicon-screen:before {
  content: "\e001";
}

/* line 117, ../sass/_about.scss */
.cbp_tmicon-mail:before {
  content: "\e002";
}

/* line 121, ../sass/_about.scss */
.cbp_tmicon-earth:before {
  content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {
  /* line 128, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 47.2em) {
  /* line 134, ../sass/_about.scss */
  .cbp_tmtimeline:before {
    display: none;
  }

  /* line 138, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  /* line 144, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: center;
  }

  /* line 148, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }

  /* line 155, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #3594cb;
    top: -20px;
  }

  /* line 163, ../sass/_about.scss */
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: #6cbfee;
  }

  /* line 168, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmicon {
    display: none;
  }
}
/* General Blueprint Style */
@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome.eot");
  src: url("../fonts/fontawesome.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome.svg#fontawesome") format("svg"), url("../fonts/fontawesome.woff") format("woff"), url("../fonts/fontawesome.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 187, ../sass/_about.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 188, ../sass/_about.scss */
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 191, ../sass/_about.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 192, ../sass/_about.scss */
.clearfix:after {
  clear: both;
}

/* line 194, ../sass/_about.scss */
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

/* line 198, ../sass/_about.scss */
a {
  color: #f0f0f0;
  text-decoration: none;
}

/* line 203, ../sass/_about.scss */
a:hover {
  color: #000;
}

/* line 207, ../sass/_about.scss */
.main {
  width: 95%;
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1.875em 3.125em;
  margin-bottom: 35px;
  flex: 1 0 auto;
}

/* line 217, ../sass/_about.scss */
.icon-drop:before,
.icon-arrow-left:before {
  font-family: 'fontawesome';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  color: #47a3da;
  -webkit-font-smoothing: antialiased;
  text-indent: 8000px;
  padding-left: 8px;
}

/* line 236, ../sass/_about.scss */
.icon-drop:before {
  content: "\e000";
}

/* line 240, ../sass/_about.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 1, ../sass/_admin.scss */
#white_admin {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  /* L'opacite se regle ici */
}

/* line 8, ../sass/_admin.scss */
.bouton_new {
  margin-bottom: 25px;
  text-align: center;
}

/* line 14, ../sass/_admin.scss */
.title_login, .remember {
  color: white;
}

/* line 18, ../sass/_admin.scss */
.footer {
  width: 100%;
  float: left;
  height: 30px;
  color: white;
}

/* line 25, ../sass/_admin.scss */
.admin_home {
  margin-top: 20%;
}

/* line 29, ../sass/_admin.scss */
.panel-admin {
  width: 20%;
  display: inline-block;
  text-align: center;
}
/* line 34, ../sass/_admin.scss */
.panel-admin .thumbnail_admin {
  width: 100%;
}
/* line 38, ../sass/_admin.scss */
.panel-admin .panel-body {
  height: 250px;
  overflow: scroll;
  border: 10px solid #fff;
  padding: 0;
}

/* line 46, ../sass/_admin.scss */
.thumbnail_admin {
  width: 100px;
}

/* line 51, ../sass/_admin.scss */
.about .jumbotron {
  background-color: RGBA(255, 255, 255, 0.7);
}
/* line 53, ../sass/_admin.scss */
.about .jumbotron h1 {
  font-size: 30px;
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 7, ../sass/_media.scss */
  .titre {
    position: relative;
    top: 50%;
    transform: translateY(65%);
  }

  /* line 13, ../sass/_media.scss */
  .grid-item {
    width: 25%;
  }
}
