{% extends 'base.html.twig' %}

{% block body %}

<div id="white"></div>

<div class="container">

    {% include '@Elisa/Default/navbar.html.twig' %}

    <div class="container">

        <div class="timeline">
            <ul class="cbp_tmtimeline">
                {% for about in abouts %}
                    <li>
                        <time class="cbp_tmtime"><span>{{ about.date }}</span></time>
                        <div class="cbp_tmicon cbp_tmicon-phone"></div>
                        <div class="cbp_tmlabel">
                            <p>{{ about.contenu|raw }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}

{% block footer %}
    {% include '@Elisa/Default/footer.html.twig' %}
{% endblock %}