{% extends 'base.html.twig' %}



{% block body %}


    <div class="container">
        <div id="white"></div>

        {% include '@Elisa/Default/navbar.html.twig' %}


            <div class="center-block">
                <h4>Merci,</h4>
                <h4>votre message a bien été envoyé.</h4>

            <div class="btnconfirm">
                <a href="{{ path('elisa_homepage') }}" class="btn btn-default">Revenir à l'accueil</a>
            </div>
            </div>

    </div>
    </div>




{% endblock %}

{% block footer %}
    {% include '@Elisa/Default/footer.html.twig' %}
{% endblock %}