{% extends 'base.html.twig' %}

{% block body %}

    <div id="white"></div>

    <div class="container">
        {% include '@Elisa/Default/navbar.html.twig' %}

        <div class="row margin-top-bottom">

            <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8">

                <div class="row">
                    <form class="contact-us pattern-bg" action="{{ path('send_mail') }}" method="post">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input name="nom" type="text" id="name" class="form-control" placeholder="Votre nom">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input name="email" type="email" id="email" class="form-control" placeholder="Votre email">
                            </div>
                        </div>

                        {#<div class="col-sm-12">#}
                            {#<select name="sujet" id="subject" class="form-group form-control">#}
                                {#<option value="" selected disabled>Sujet</option>#}
                                {#<option>Website Design & Development</option>#}
                                {#<option>Wordpress Development</option>#}
                                {#<option>Search Engine Optimization</option>#}
                                {#<option>Mobile Website</option>#}
                                {#<option>I Want to General Talk</option>#}
                                {#<option>Other</option>#}
                            {#</select>#}
                        {#</div>#}

                        <div class="col-sm-12">
                            <div class="textarea-message form-group">
                                <textarea name="message" id="message" class="textarea-message form-control" placeholder="Votre message"
                                          rows="5"></textarea>
                            </div>
                        </div>


                        <div class="text-center">
                            <button type="submit" class="button_contact button-style button-style-dark button-style-color-2" name="action">
                                Envoyer
                            </button>
                        </div>



                    </form>

                </div>
            </div>

        </div>

    </div>



{% endblock %}


{% block footer %}
    {% include '@Elisa/Default/footer.html.twig' %}
{% endblock %}