<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">


                <div class="text-center">
                    <p>© {{ "now"|date("Y") }} Elisabeth Creusot - Site développé par <a href="http://www.anthony-menet.fr" target="_blank">Anthony Menet</a> <a href="{{ path('elisa_admin') }}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>