{% extends 'base.html.twig' %}

{% block body %}

    <div id="white"></div>

    <div class="container">

        {% include '@Elisa/Default/navbar.html.twig' %}




        <div class="text-center">

            <div class="button-group filters-button-group">
                <button class="button_galerie button-style button-style-dark-galerie button-style-color-2 is-checked" data-filter="*">Tout</button>

                {% set newArray = [] %}

                {% for modele in modeles|reverse %}
                    {% if modele.categorie not in newArray %}
                        <button class="button_galerie button-style button-style-dark-galerie button-style-color-2" data-filter="#{{ modele.categorie }}">{{ modele.categorie }}</button>
                        {% set newArray = newArray|merge([modele.categorie]) %}
                    {% endif %}

                {% endfor %}

            </div>

            <div class="grid">
                {% for modele in modeles %}

                    {% for image in modele.image.urls %}

                        <div class="grid-item" id="{{ modele.categorie }}">

                        <a href="{{ asset('uploads/images/' ~ image) }}" data-toggle="lightbox" data-gallery="example-gallery" data-footer="{{ modele.description }}">
                            <img class="img-rounded thumbnail_galerie" src="{{ asset('uploads/images/' ~ image) }}">
                        </a>
                    </div>
                    {% endfor %}

                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}


{% block footer %}
    {% include '@Elisa/Default/footer.html.twig' %}
{% endblock %}

