{% extends 'base.html.twig' %}

{% block body %}

    {#<div id="white"></div>#}


    <div id="content" class="text-center titre">
        <div class="title">Elisabeth Creusot</div>
        <div>
            <a class="button_contact button-style button-style-dark button-style-color-2" href="{{ path('elisa_galerie') }}">
                    Entrer
            </a>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include '@Elisa/Default/footer.html.twig' %}
{% endblock %}