<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact site Flo</title>
    <style>
        .contenu {
            margin-top: 25px;
            font-size: 15px;
        }
        blockquote {
            margin-top: 15px;
            padding: 10px;
            border: 1px solid dimgrey;
            border-radius: 15px;
        }
        .message {
            text-align: justify;
        }
    </style>
</head>


{% block body %}

    <div class="contenu">

        <p>Bonjour,</p>

        <p>Une demande de contact a été envoyée par {{ nom }} le {{ "now" | date("d-m-Y") }}</p>

        <p><u>Adresse mail de l'utilisateur</u>: {{ email }}</p>
        <p><u>Message</u> :</p>
        <div class="message">
            {{ message }}
        </div>

    </div>

{% endblock body %}
</html>

