<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="title_galerie"><a class="" href="{{ path('elisa_homepage') }}">Elisabeth Creusot</a></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('elisa_galerie') }}">Galerie</a></li>
            {% if abouts == null %}{% else %}<li><a href="{{ path('elisa_apropos') }}">A propos</a></li>{% endif %}
            <!--<li><a href="{{ path('elisa_contact') }}">Contact</a></li>-->


        </ul>
    </div><!-- /.navbar-collapse -->
</nav>