{% extends 'base.html.twig' %}

{% block body %}
    <div id="white_admin"></div>

    {% include '@Elisa/Default/navbar_admin.html.twig' %}

        <div class="container">
            <h1>A Propos - Edition</h1>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn btn-default" type="submit" value="Enregistrer" />


            <a class="btn btn-default" href="{{ path('about_index') }}">Retour</a>

            {{ form_end(edit_form) }}


        </div>
{% endblock %}
