{% extends 'base.html.twig' %}

{% block body %}
    <div id="white_admin"></div>
    {% include '@Elisa/Default/navbar_admin.html.twig' %}

    <div class="container about">

        <div class="jumbotron">
        <h1>A propos</h1>

        <table class="table table-hover display">
            <thead>
            <tr>
                <th>Période</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for about in abouts %}
                <tr>
                    <td>{{ about.date }}</td>
                    <td>{{ about.contenu | truncate(300) | raw}}</td>
                    <td>

                        <a class="btn btn-default" href="{{ path('about_edit', { 'id': about.id }) }}">Editer</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-default" href="{{ path('about_new') }}">Nouveau</a>

        </div>
    </div>

{% endblock %}
