{% extends 'base.html.twig' %}

{% block body %}
<div id="white_admin"></div>

    {% include '@Elisa/Default/navbar_admin.html.twig' %}

    <div class="container">
    <h1>About creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" value="Créer" />
        <a class="btn btn-default" href="{{ path('about_index') }}">Retour</a>

    {{ form_end(form) }}



</div>
{% endblock %}
