{% extends 'base.html.twig' %}

{% block body %}
    <div id="white_admin"></div>
    {% include '@Elisa/Default/navbar_admin.html.twig' %}

    <div class="container">
        <h1>Edition d'un modèle</h1>

        <div class="row">

            {{ form_start(edit_form) }}

            <div class="col-xs-12">

                <label>Catégorie :</label>
                {{ form_widget(edit_form.categorie) }}
                {{ form_errors(edit_form.categorie) }}

            </div>

            <div class="col-xs-12">

                    <p><label>Image actuelle : </label></p>


                {% for image in modele.image.urls %}

                <div class="panel panel-default panel-admin">
                    <div class="panel-body">
                        <img class="thumbnail_admin" src="{{ asset('uploads/images/' ~ image) }}">
                    </div>
                    <div class="panel-footer">
                        <a class="info btn btn-default" href="{{ asset('uploads/images/' ~ image) }}" data-toggle="lightbox">Voir</a>

                        <a class="info btn btn-default" href="{{ path('delete_img', {'id': modele.image.id, 'name': image }) }}">Effacer</a>
                    </div>
                </div>
                {% endfor %}

            </div>


            <div class="col-xs-12">

                    <label>Changer l'image :</label>
                    {{ form_widget(edit_form.image.files) }}

                {{ form_errors(edit_form.image.files) }}

            </div>

            <div class="col-xs-12">

                <label>Description :</label>
                {{ form_widget(edit_form.description) }}
                {{ form_errors(edit_form.description) }}

                <br>
            </div>




            <div class="col-md-12">

            <input class="btn btn-default" type="submit" value="Valider"/>


            <a class="btn btn-default" href="{{ path('modele_index') }}">Retour</a>
            <a class="btn btn-default" href="{{ path('modele_delete', { 'id': modele.id }) }}" title="Effacer">Effacer</a>
            </div>

            {{ form_end(edit_form) }}

        </div>
    </div>
{% endblock %}


{% block footer %}
    {% include '@Elisa/Default/footer.html.twig' %}
{% endblock %}