{% extends 'base.html.twig' %}

{% block body %}
<div id="white_admin"></div>
    {% include '@Elisa/Default/navbar_admin.html.twig' %}

<div class="container">

    <h1>Liste des modèles</h1>

    <div class="bouton_new">
        <a class="button_contact button-style button-style-dark button-style-color-2" href="{{ path('modele_new') }}">Nouveau modèle</a>
    </div>


    <table class="table table-hover display" id="table_modele">
        <thead>
            <tr class="success">
                <th>Images</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for modele in modeles %}
            <tr>
                <td>
                    {% for image in modele.image.urls %}
                    <a href="{{ asset('uploads/images/' ~ image) }}" data-toggle="lightbox" data-gallery="example-gallery">
                        <img class="img-rounded thumbnail_admin" src="{{ asset('uploads/images/' ~ image) }}">
                    </a>
                    {% endfor %}
                </td>
                <td>{{ modele.categorie }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('modele_edit', { 'id': modele.id }) }}">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


{% block footer %}
    {% include '@Elisa/Default/footer.html.twig' %}
{% endblock %}