{% extends 'base.html.twig' %}

{% block body %}
<div id="white"></div>
    {% include '@Elisa/Default/navbar_admin.html.twig' %}

<div class="container">

    <h1>Création d'un modèle</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" value="Créer" />



            <a class="btn btn-default" href="{{ path('modele_index') }}">Retour</a>
    {{ form_end(form) }}

</div>

{% endblock %}


{% block footer %}
    {% include '@Elisa/Default/footer.html.twig' %}
{% endblock %}