#white_admin {
  position: fixed;
  z-index: -10;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(255, 255, 255, 0.6); /* L'opacite se regle ici */
}

.bouton_new {
  margin-bottom: 25px;
  text-align: center;
}


.title_login, .remember {
  color: white;
}

.footer {
  width:100%;
  float:left;
  height:30px;
  color: white;
}

.admin_home {
  margin-top: 20%;
}

.panel-admin {
  width: 20%;
  display: inline-block;
  text-align: center;

  .thumbnail_admin {
    width: 100%;
  }

  .panel-body {
    height: 250px;
    overflow: scroll;
    border: 10px solid #fff;
    padding: 0;
  }
}

.thumbnail_admin {
  width: 100px;
}

.about {
  .jumbotron {
    background-color: RGBA(255,255,255,0.7);
    h1 {
      font-size: 30px;
      text-align: center;
    }
  }
}