.contact-us {
  padding: 50px;
  box-shadow: -2px 40px 34px -24px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 7px #D5FA80;

}

.contact-us-detail {
  position: absolute;
  left: 83%;
  top: -4%;
  background-color: #518E16;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  width: 26%;
}


.contact-us-detail a {
  color: #ffffff;
}

.contact-us-detail a:hover {
  color: #518E16;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  border: 2px solid transparent;
  height: 50px;
  border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 2px; -ms-border-radius: 5px; -o-border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition:all 150ms ease-in-out 0s;
  -moz-transition:all 150ms ease-in-out 0s;
  -ms-transition:all 150ms ease-in-out 0s;
  -o-transition:all 150ms ease-in-out 0s;
  transition:all 150ms ease-in-out 0s;
}
.form-control:focus {
  border-color: #171717;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: #D5FA80;
  border-width: 2px;
}

.margin-top-bottom {
  margin-top: 100px;
  margin-bottom: 100px;
}

.custom-margin {
  margin-top: 80px;
}

.button_contact {
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 17px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 20px 60px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button-style {
  border: 3px solid #fff;
  color: #fff;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
  color: #ffffff;
  background: #D5FA80;
}

.button-style-color-2:hover,
.button-style-color-2:active,
.button-style-color-2:focus {
  color: #ffffff;
  background: #D5FA80;
}

.button-style-dark {
  border: 3px solid #FFF;
  color: #FFF;
}
