.grid {
  margin-top: 3%;
}
.grid-item {
  width: 20%;
  padding-right: 3px;
}

.grid-item--width2 {
  width: 50%;
}


.thumbnail_galerie {
  display: block;
  padding: 4px;
  margin-bottom: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  max-width: 100%;
}

.button_galerie {
  border: none;
  border-radius: 5px;
  font-family: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 25px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button_galerie:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


.button_galerie:hover,
.button_galerie:active,
.button_galerie:focus {
  color: #ffffff;
  background: #D5FA80;
  border-color: #D5FA80;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  border-radius: 0.5em;
  margin-left: 0;
  margin-right: 1px;
  margin-bottom: 10%;
  border-color: transparent;

}


.button:active,
.button.is-checked {
  background-color: #D5FA80;
}

.button.is-checked {
  color: #3C3F41;
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

.button:hover {
  background-color: #D5FA80;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

