html {
  max-height: 100vh;
}

a {
  color: white;
}

a:hover {
  color: #D5FA80;
  text-decoration: none;
}

.btn_index {
  color: #D5FA80;
}

.btn_index:hover {
  color: #97A1AA;
}

body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;

}

#white {
  position: fixed;
  z-index: -10;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); /* L'opacite se regle ici */
}

.title {
  font-family: 'Arizonia', cursive;
  font-size: 150px;
  color: #FFF;
  text-align: center;
  //margin-top: 15%;
  text-shadow: 15px 15px 15px grey;
}

.titre {
  position: relative;
  transform: translateY(100%);
}

.enter {
  text-align: center;
}

.btn-enter {
  height: 70px !important;
  width: 70px !important;
  border-radius: 50%;
  background-color: #97A1AA;
  color: #D5FA80;
  margin-left: 51%;
}

.btn-enter:hover {
  background-color: #D5FA80;
}

.white {
  color: white;
}