@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)

{
  .titre {
    position: relative;
    top: 50%;
    transform: translateY(65%);
  }

  .grid-item {
    width: 25%;
  }
}
