.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: white !important;
}


.navbar-default .navbar-nav>li>a:hover {
  color: #D5FA80 !important;
}

.navbar {
  margin-bottom: 20px;
}

.title_galerie {
  font-family: 'Arizonia', cursive;
  font-size: 3em;
  color: #FFF;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
}