{% extends 'base.html.twig' %}

{% block body %}
    <div id="white_admin"></div>

    {% include '@Elisa/Default/navbar_admin.html.twig' %}

    <div class="container">
    <h1>Edition catégorie</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-default" type="submit" value="Editer" />


            <a class="btn btn-default" href="{{ path('categorie_index') }}">Retour</a>
            <a class="btn btn-default" href="{{ path('categorie_delete', { 'id': categorie.id }) }}" title="Effacer">Effacer</a>

        {{ form_end(edit_form) }}


        {#{{ form_start(delete_form) }}#}
                {#<input class="btn btn-default" type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}


    </div>
{% endblock %}
