{% extends 'base.html.twig' %}

{% block body %}
    <div id="white"></div>
    {% include '@Elisa/Default/navbar_admin.html.twig' %}

    <div class="container about">

        <div class="jumbotron">
        <h1>Liste des catégories</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.name }}</td>
                <td>

                    <a class="btn btn-default" href="{{ path('categorie_edit', { 'id': categorie.id }) }}">Editer</a>
                    <a class="btn btn-default" href="{{ path('categorie_delete', { 'id': categorie.id }) }}">Supprimer</a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a class="btn btn-default" href="{{ path('categorie_new') }}">Nouvelle catégorie</a>
        </div>
    </div>
{% endblock %}
